.password-strength {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .section {
        display: block;
        border-radius: 2px;
        width: 32%;
        height: 3px;
        background-color: var(--neutral);
        transition: background-color 0.1s linear;
    }

    &.weak {
        .section:nth-child(1) {
            background-color: var(--danger);
            transition: background-color 0.1s linear;
        }
    }

    &.medium {
        .section:nth-child(-n + 2) {
            background-color: var(--warning);
            transition: background-color 0.1s linear;
        }
    }

    &.strong {
        .section {
            background-color: var(--success);
            transition: background-color 0.1s linear;
        }
    }

    &.invalid {
        .section {
            background-color: var(--danger);
        }
    }
}
