:root {
    --night: #000000cc;
    --neutral: #b3b3b3;
    --danger: #d95a7e;
    --warning: #ffe249;
    --success: #087234;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}
